// Architecture
SDKROOT = macosx

// Packaging
INFOPLIST_FILE = $(PROJECT_DIR)/Configuration/macOS/macOS.plist

// Signing
CODE_SIGN_IDENTITY = -

// Apple Clang - Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = IG_BUNDLE_NAME=u8\"$(PRODUCT_NAME)\" IG_BUNDLE_ID=u8\"$(PRODUCT_BUNDLE_IDENTIFIER)\" IG_BUNDLE_VERSION=u8\"$(DYLIB_CURRENT_VERSION)\" IG_BUNDLE_BUILD=$(CURRENT_PROJECT_VERSION)
