[submodule "Dependencies/Result"]
	path = Dependencies/Result
	url = git@github.com:antitypical/Result.git
[submodule "Dependencies/ReactiveSwift"]
	path = Dependencies/ReactiveSwift
	url = git@github.com:ReactiveCocoa/ReactiveSwift.git
[submodule "Dependencies/Utils"]
	path = Dependencies/Utils
	url = git@github.com:dehesa/Utils.git
