// Architecture
SDKROOT = macosx

// Packaging
PRODUCT_NAME = $(PRODUCT_NAME)Tests
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER).tests
INFOPLIST_FILE = $(PROJECT_DIR)/configuration/macOS/macOS_tests.plist

// Signing
CODE_SIGN_IDENTITY = -

// Linking (for the linker)
LD_RUNPATH_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Dependencies/Lightstreamer
