// Packaging
PRODUCT_NAME = broker
PRODUCT_BUNDLE_IDENTIFIER = io.dehesa.ig.cmd

// Versioning
CURRENT_PROJECT_VERSION = 1
DYLIB_CURRENT_VERSION = 0.1.0
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)

// Deployment
MACOSX_DEPLOYMENT_TARGET = 10.15

// Swift
SWIFT_VERSION = 5.1

// User-Generated
BUNDLE_SIGNATURE = MSDC
