// Architecture
SDKROOT = iphoneos

// Deployment
TARGETED_DEVICE_FAMILY = 1,2

// Packaging
PRODUCT_NAME = $(PRODUCT_NAME)Tests
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER).tests
INFOPLIST_FILE = $(PROJECT_DIR)/configuration/iOS/iOS_tests.plist

// Linking (for the linker)
LD_RUNPATH_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Dependencies/Lightstreamer
