// Packaging
PRODUCT_NAME = IG
PRODUCT_BUNDLE_IDENTIFIER = io.dehesa.ig

// Versioning
CURRENT_PROJECT_VERSION = 1
DYLIB_CURRENT_VERSION = 0.7.0
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)

// Deployment
IPHONEOS_DEPLOYMENT_TARGET = 13.1
MACOSX_DEPLOYMENT_TARGET = 10.15

// Swift
SWIFT_VERSION = 5.1

// User-Generated
BUNDLE_SIGNATURE = MSDC

// Search Paths (for the compiler)
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Dependencies/Lightstreamer

// Swift Compiler - Code Generation
